In [ ]:
from datascience import *
import numpy as np

## Review of Tables ##

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers
#height units is in meters

In [ ]:
skyscrapers_name_height = skyscrapers.select('name', 'height')

In [ ]:
skyscrapers_drop = skyscrapers.drop('completed', 'height', 'material')

In [ ]:
skyscrapers_drop.show()

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').where('completed', 1909)

In [ ]:
skyscrapers.where('city', 'New York City')

In [ ]:
skyscrapers.sort('completed')

In [ ]:
# can you find the newest skyscraper in New York City?

In [ ]:
chicago = skyscrapers.where('city', 'Chicago')
chicago

In [ ]:
# can you find the most common material used for Chicago skyscrapers?

In [ ]:
chicago = chicago.drop('city')
chicago

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)

## Numbers ##

In [ ]:
4 * 5

In [ ]:
type(20)  # int

In [ ]:
20 / 3  # float

In [ ]:
type(20 / 3 ) # float

In [ ]:
1234 ** 5 #let's raise 1234 to the 5th power

In [ ]:
123456789 ** 1234

In [ ]:
4 / 700 # what happens when we divide an int with an int?

# we get a float!

In [ ]:
4 / 700000000000000000 # floats can represent very small numbers
# using scientific notation

# 5.714285714285714 * 10^-18

In [ ]:
0.12345678901234567890123456789

# is what is printed to the screen below, 
# the same as what we typed?

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
10 ** 0.5

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
((10 ** 0.5) ** 2) - 10
# Very large or very small float values are displayed using scientific notation.

# the number below is 0.000000000000001.7763568394002505
# a number that is very close to 0


#The correct answer to this arithmetic expression is 0, 
# but a small error in the final significant digit appears very different in scientific notation. 
# This behavior appears in almost all programming languages 
# because it is the result of the standard way that arithmetic is carried out on computers.

# Although float values are not always exact, 
# they are certainly reliable and work the same way 
# across all different kinds of computers and programming languages.#

In [ ]:
16 ** 0.5 
# When a float value is combined with an int value using some arithmetic operator, 
# then the result is always a float value.

# In most cases, two integers combine to form another integer, 
# but any number (int or float) divided by another will be a float value.

In [ ]:
20 / 10

In [ ]:
int(20 / 10)

In [ ]:
20 / 9

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
# what is the error saying above?

In [ ]:
# how do we fix it?

In [ ]:
x = 3
y = '4'
z = '5.6'

In [ ]:
my_float = float('45.0') # or int(float('45.0'))
my_float = int(my_float)
my_float

In [ ]:
# challenge: can you get my_float to be a string value of 45?

## Strings ##

In [ ]:
'baby yoda'

In [ ]:
"baby yoda isn't yoda"

In [ ]:
'baby yoda isn't yoda'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'straw' + ' ' + 'berry'

In [ ]:
'ha' * 10

In [ ]:
'lo' * 5.5

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

In [ ]:
# challenge: define a variable, this_year to equal a string value of 2022

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(False)

In [ ]:
help(abs)

In [ ]:
# where can you find documentation on the function, type?

In [ ]:
# bonus: can you find documentation on the Table method, where(), using the help function?

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array = my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + my_array

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
len(my_array) / sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
len(tunas)

In [ ]:
np.average(my_array)
# my_array

In [ ]:
len(my_array)

In [ ]:
x = 3
y = '4'
z = '5.6'

In [ ]:
#x + y
#x + int(y + z)
y + float(z)

## Columns of Tables are Arrays ##

In [ ]:
sf = skyscrapers.where('city', 'San Francisco')
sf

In [ ]:
sf.select('height')

In [ ]:
sf.column('height')

In [ ]:
np.average(sf.column('height'))

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')

In [ ]:
# BONUS: what is the difference in average heights of skyscrapers in LA and skyscrapers in SF?