In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [3]:
2 + 9

11

In [4]:
2 * 9

18

In [13]:
2 / 9 # this evaluates to a float, which is another data type

0.2222222222222222

In [14]:
2 + (3 * 9)

29

In [15]:
(2 + 3) * 9

45

In [16]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4
# below is an integer

16

In [17]:
'hello' # this is a comment
# this is also a comment
# below is a string, which is a data type

'hello'

In [11]:
hello

NameError: name 'hello' is not defined

In [23]:
# try typing your neighbor's name below:

'mandy'
'moore'

'moore'

## Names ##

In [24]:
a = 4

In [25]:
a

4

In [26]:
b = 9

In [27]:
b

9

In [28]:
a * 3 # 4*3 = 12

12

In [29]:
total = a + b # 4 + 9 = 13
# assigning value 13 to the variable name, total
# NOT the expression a + b

In [30]:
total

13

In [31]:
a = 10

In [32]:
total

13

In [33]:
total = a + b
# we are assigning a value to variable, total
# by default, nothing is "printed" or shown to the screen
# only when we call on the variable name, total
# is anything printed to the screen

In [34]:
total # calling on the variable, total
# which will print 19 to the screen
# print is the same thing as display

19

In [35]:
'total'

'total'

In [37]:
# can you save your neighbor's name to a variable name?

# after you execute this cell, it should display their name
greg = 'greg'
greg

'greg'

### Why Names?

In [38]:
hours_per_week = 40
weeks_per_year = 52

In [39]:
hours_per_year = hours_per_week * weeks_per_year
# 40 * 52 =

In [40]:
hours_per_year

2080

Due to the enactment of Senate Bill (SB) 3, the California minimum wage will increase to $15.00 per hour, effective January 1, 2022, for employers with 26 or more employees. Source: https://www.dds.ca.gov/rc/vendor-provider/minimum-wage/

In [41]:
ca_hourly_minimum_wage = 15.00

In [42]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

600.0

In [43]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

31200.0

In [44]:
40 * 15.00

600.0

In [45]:
40 * 52 * 15.00

31200.0

In [ ]:
# Let's say you got a raise and were paid $17 an hour
# to make the same yearly wage above, 
# how many hours per week would need to work?

# BONUS: use the above variables assigned, not just integers
## BONUS BONUS: define a new variable to capture your new $17 an hour wage

In [46]:
31200.0/52

600.0

In [48]:
new_ca_hourly_minimum_wage = 17
# unknown is hours_per_week
new_yearly_wage = 31200
#weeks per year is still 52

In [50]:
new_hours_per_week = new_yearly_wage / new_ca_hourly_minimum_wage / weeks_per_year
new_hours_per_week

35.294117647058826

In [52]:
weekly_wages = new_hours_per_week * new_ca_hourly_minimum_wage # 35.29 * 17
yearly_wages = weekly_wages * 52
yearly_wages

31200.0

## Functions and Call Expressions

In [53]:
max(15, 27) # the function, called max returns the largest value of a set of values

27

In [67]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [55]:
abs(-5) # absolute value function returns the absolute value of the argument passed through
# or our input, in this case -5

5

In [57]:
abs(1 - 3) # first python evaluates 1-3 = 2, and abs(-2)

2

In [58]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp) # abs(night_temp - day_temp) = abs(47 - 52) = abs(-5)

5

In [59]:
min(14, 15)

14

In [60]:
round(123.456)

123

In [61]:
round(123.456, 1)

123.5

In [62]:
round(123.456, ndigits=1)

123.5

In [64]:
# try rounding to 2 digits....

round(123.456,2)

123.46

In [66]:
# what about 4 digits?

round(123.456, 4)

123.456

In [63]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

## Tables ##

In [68]:
cones = Table.read_table('data/cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [69]:
cones.show(3)

In [70]:
cones.show()

In [71]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [72]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [73]:
cones.select(Flavor, 'Price') # Python think I'm calling on the 
#variable, Flavor
# and it's right in that Flavor, the variable is not defined

NameError: name 'Flavor' is not defined

In [86]:
cones.drop('Price')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [87]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [88]:
cones_noprice = cones.drop('Price')

In [77]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [80]:
cones_without_price = cones.drop('Price')
cones_without_price

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [81]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [82]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [83]:
cones.sort('Price') # default smallest to largest, ascending

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [84]:
cones.sort('Price', descending=True) # greatest to smallest, most expensive on top

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [85]:
cones.sort('Flavor', descending=True)

Flavor     | Color       | Price
strawberry | pink        | 3.55
strawberry | pink        | 5.25
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
# what material is most common in our tallest New York City 
# skyscrapers data set?