In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arrays

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
heights / 12

In [ ]:
len(heights)

In [ ]:
sum(heights)

In [ ]:
sum(heights) / len(heights)

In [ ]:
np.average(heights)

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
strings_array * 2

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

In [ ]:
strings_array.item(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
# create an array from 0 to 100, including 100, step increase of 10?
# work with a partner!

In [ ]:
# now create an array from 100 to 200, not including 200
# step increase of 10

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

In [ ]:
# can we create an array that decreases
# 10 to 0?

## Creating a Table from Scratch ##

In [ ]:
streets = ...
streets

In [ ]:
Table()

In [ ]:
iv = ...
iv

In [ ]:
iv...

In [ ]:
iv

In [ ]:
iv.labels

In [ ]:
iv.num_columns

In [ ]:
iv.num_rows

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('data/du_bois.csv')
du_bois

In [ ]:
# Which group ("CLASS") spent the highest percentage on rent?

# work with a partner. once you've determined the group ("CLASS")
# share with your table
...

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column(
    'Food $',
    food_dollars
)
du_bois

In [ ]:
du_bois.set_format('FOOD', PercentFormatter)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.column('FOOD')

In [ ]:
# Which group ("CLASS") spent the lowest on Higher Life or Other?

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('data/movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
movies = movies.with_column('Tickets sold', tix_sold)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('Year', 2002)

In [ ]:
movies.where('Year', are.equal_to(2002))

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
movies.take(np.arange(2, 5))